.about__regional {
    height: 800px;
    background-color: #7775c2;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__regional .about__title {
    width: 1000px;
    text-align: center;
}

.about__regional .about__info {
    width: 500px;
    margin: 0 50px 0 0;
}

#about__map {
    height: 300px;
}

.about__full {
    display: flex;
}
