.about {
    margin-top: -22px;
    width: 100vw;
    height: 450px;
    background-color: #FF8A8A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__title {
    color: white;
    font-size: 4.5rem;
    margin-right: 75px;
    width: 300px;
    padding: 0;
    text-align: left;
    transition: 0.3s;
    font-family: 'Stick No Bills';
}

.about__title:hover{
    transform: scale(105%);
    transition: 0.3s;
}

.about__content {
    color: white;
    width: 500px;
    font-size: 1.5rem;
    transition: 0.3s;
}

.about__content:hover {
    transform: scale(105%);
    transition: 0.3s;
}
