.about__national {
    padding-top: 50px;
    margin-top: -22px;
    width: 100vw;
    height: 450px;
    background-color: #68C4B1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__title {
    color: white;
    font-size: 3.75rem;
    margin-right: 100px;
    width: 300px;
    padding: 0;
    text-align: left;
    transition: 0.3s;
    /* font-family: 'Stick No Bills'; */
}

.about__title:hover{
    transform: scale(105%);
    transition: 0.3s;
}

/* .about__content {
    display: flex;
    flex-direction: column;
} */

.about__info {
    color: white;
    width: 500px;
    font-size: 1.5rem;
    transition: 0.3s;
}

/* .about__info:hover {
    transform: scale(105%);
    transition: 0.3s;
} */

.about__links {
    display: flex;
    align-items: center;
}

.about__link {
    text-align: center;
    width: 75px;
    background-color: #FF8A8A;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #FF8A8A;
    transition: 0.15s;
    margin-right: 20px;
}
.about__link:hover{
    background: #f57c7c;
    border: 1px solid #f57c7c;
}
.about__website {
    color: blue;
    text-decoration: none;
    border-bottom: blue solid 2px;
    margin: 0;
    transition: 0.1s;
    font-size: 1.25rem;
}
.about__website:hover {
    color: rgb(56, 56, 224);
    border-bottom-color: rgb(56, 56, 224); 
}
.about__website ion-icon {
    margin-bottom: -3px;
}