
.hero{
    margin: 0;
    padding: 0;
    background: #555;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(22, 21, 21, 0.7), rgba(22, 21, 21, 0.7)), url("./static/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    padding-top: 30px;
    width: 1140px;
    height: 75px;
    /* background: red; */
    display: flex;
}
.nav__brand {
    width: 200px;
    /* background: white; */
    flex: 0 0 200px;
}
.nav__logo {
    width: 250px;
}
.nav__links {
    width: 1000px;
    height: 75px;
    /* background: blue; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__link {
    color: white;
    cursor: pointer;
    margin-right: 50px;
    font-weight: 400;
    transition: 0.15s;
}
.nav__link:hover{
    color: #68C4B1;
}

.header {
    padding-bottom: 100px;
    width: 1140px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__title{
    font-size: 3rem;
    color: white;
    font-weight: 500;
    margin-bottom: 0;
}
.header__subtitle{
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 2rem;
    color: #68C4B1;
    font-weight: 400;
}
.header__links {
    margin-top: -10px;
}
.header__link {
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #68C4B1;
    transition: 0.15s;
}
.header__link:first-of-type{
    color: white;
    background: #68C4B1;
}
.header__link:first-of-type:hover{
    background: #57ad9c;
    border: 1px solid #57ad9c;
}
.header__link:last-of-type{
    color: #68C4B1;
}
.header__link:last-of-type:hover{
    background: #68C4B1;
    color: white;
}